*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body{
  background-color: rgb(35, 34, 34);
  overflow: hidden;
}

.container{
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
}

.container img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}
.container img:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.title{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}


.title h1{
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 65px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title h2{
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title button{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #e69100;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}